// COLORS
$color-white:#FFFFFF;
$color-black: #000000;
$color-button: #978F10;
$color-border:#707070;

// Color-main screen
$color-news: #F6F6F6;




// FONT-size
$default-font-size: 1.6rem;


//font-family
$font: "Times New Roman", 游明朝, Yu Mincho, 游明朝体, serif;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;