*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}

::selection {
    background-color: pink;

}

html {
    font-size: 62.5%;


    // @include respond(tab-land) { // width < 1200?
    //     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    // }

    // @include respond(tab-port) { // width < 900?
    //     font-size: 50%; //1 rem = 8px, 8/16 = 50%
    // }
    
    // @include respond(big-desktop) {
    //     font-size: 75%; //1rem = 12, 12/16
    // }
}




body {
    height: 100%;
    width: 100%;
   
    box-sizing: border-box;
}
  

img {
    max-width: 100%;
    vertical-align: bottom;
    object-fit: cover;
    // display: block;
  
}
  
  
a:link, a:visited {
    text-decoration: none;
    display: inline-block;
}
  
ul {
    padding-left: 0;
}
  
  
li {
    list-style: none;
}
  
  
textarea {
    resize: none;
}
  